<div class="container">
  <div class="footer-row">
    <div class="left">
      <img src="/assets/images/footer-logo.svg"
           alt="Digital purpose logo">
    </div>
    <div class="right">
      <p>
        We acknowledge the Traditional Owners of country throughout Australia and pay our respects to their Elders past,
        present and emerging.
      </p>
    </div>
  </div>
  <div class="footer-row">
    <div class="left">
      <div class="social-links">
        <a href="https://www.linkedin.com/company/digital-purpose-australia/about/" target="_blank">LinkedIn</a>
        <a href="https://www.facebook.com/DigitalPurposeAus" target="_blank">Facebook</a>
        <a href="https://twitter.com/dp_australia" target="_blank">Twitter</a>
      </div>
    </div>
    <div class="right">
      Copyright © {{currentYear}} Digital Purpose
    </div>
  </div>

</div>
