@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

:host {
  display: block;
  padding: 40px 29px;
  background-color: $dark-blue-grey;
  color: #fff;

  @include media-breakpoint-up(md) {
    padding: 40px 32px 32px;
  }
}

.footer-row {

  .left {}

  .right {
    margin-top: 32px;
  }

  @include media-breakpoint-up(md) {
    display: flex;
    justify-content: space-between;

    .left,
    .right {
      max-width: 50%;
    }

    .left {
      order: 2;
    }

    .right {
      order: 1;
      margin-top: 0;
    }
  }
}

.footer-row + .footer-row {
  margin-top: 32px;

  @include media-breakpoint-up(md) {
    margin-top: 90px;
  }
}

.social-links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  a {
    display: inline-block;
    flex: 0 0 auto;
    color: inherit;
    font-weight: bold;

    &:hover {
      color: inherit;
    }
  }

  a + a {
    margin: 8px 0 0 0;
  }

  @include media-breakpoint-up(md) {
    flex-direction: row;

    a + a {
      margin: 0 0 0 40px;
    }
  }
}
