@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../scss/variables";

:host {
  display: block;
}

.banner {
  background-color: $banner-backdrop;
  background-image: url(~src/assets/images/blue-blobs.png);
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 233px;
  padding: 32px 40px;
  text-align: center;

  p {
    margin: 16px 0 0 0;
  }

  .btn {
    margin: 32px 0 0 0;
  }

  @include media-breakpoint-up(md) {
    padding: 50px 340px 50px 40px;
    background-image: url(~src/assets/images/string-lights-in-hand.png);
    background-position: center right;
    background-size: contain;
    background-repeat: no-repeat;
    text-align: left;
    border-radius: 8px;
    margin-top: 24px;

    p {
      margin: 12px 0 0 0;
    }

    .btn {
      margin: 24px 0 0 0;
    }
  }
}

.ideas-section {
  padding: 2rem 0;

  .search-form {
    display: flex;
    justify-content: space-between;

    .search-field {
      border: none;

      &::placeholder {
        color: $placeholder-text;
      }
    }
  }

  .input-group-text {
    border: none;
    background-color: white;
    color: $placeholder-text;
  }

  .ideas-list {
    padding: 2rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, 250px);
    column-gap: 32px;
    row-gap: 32px;

    .idea {
      cursor: pointer;

      .thumbnail {
        width: 250px;
        height: 180px;
        border: 1px solid $border-color;
        border-radius: 6px;
        margin-bottom: 1rem;

        img {
          border-radius: 6px;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }

    @include media-breakpoint-down(sm) {
      grid-template-columns: 1fr;

      .idea {

        .thumbnail {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}

.loading {
  text-align: center;
  font-size: 32px;
  margin: 2rem;
  color: lightgrey;
}
