<div class="container" *ngIf="!success">

  <div class="back-container d-none d-md-block">
    <a class="back" routerLink="/">
      Back to ideas
    </a>
  </div>

  <h2>How can we better our world?</h2>

  <div class="alert alert-danger" *ngIf="savingError">
    Sorry, something went wrong while saving your idea.
    Please try again or contact support if the issue persists.
  </div>

  <form class="row"
        [formGroup]="form"
        (ngSubmit)="save()">
    <div class="col-12 col-md-7">
      <!-- Title of idea * -->
      <div class="form-group">
        <label for="title">Title of idea *</label>
        <input class="form-control" type="text" id="title" formControlName="title">
        <ng-container *ngIf="form?.controls?.title as control">
          <p class="text text-danger" *ngIf="(control.dirty || submitted) && control.invalid">
            Your idea needs a title
          </p>
        </ng-container>
      </div>

      <!-- Your name -->
      <div class="form-group">
        <label for="submitterName">Your name</label>
        <input class="form-control" type="text" id="submitterName" formControlName="submitterName">
        <ng-container *ngIf="form?.controls?.submitterName as control">
          <p class="text text-danger" *ngIf="(control.dirty || submitted) && control.invalid">
            Let us know who you are
          </p>
        </ng-container>
      </div>

      <!-- Goal of the idea -->
      <div class="form-group">
        <label for="goal">Sustainable Development Goal</label>
        <select formControlName="goal" class="form-control" [value]="" [(ngModel)]="selected">
          <option [ngValue]="''" [disabled]="true">Select One</option>
          <option [ngValue]="i.key" *ngFor="let i of goals">{{ i.title }}</option>
        </select>
        <ng-container *ngIf="form?.controls?.goal as control">
          <p class="text text-danger" *ngIf="(control.dirty || submitted) && control.invalid">
            Please select a goal for your idea
          </p>
        </ng-container>
      </div>

      <!-- What is your idea?* -->
      <div class="form-group">
        <label for="description">What is your idea?*</label>
        <textarea class="form-control" name="description" id="description" rows="6" formControlName="description"></textarea>
        <ng-container *ngIf="form?.controls?.description as control">
          <p class="text text-danger" *ngIf="(control.dirty || submitted) && control.invalid">
            A description is required
          </p>
        </ng-container>
      </div>

    </div>
    <div class="col-12 offset-md-1 col-md-4 right">
      <!-- Add image to support your idea -->
      <div class="form-group">
        <label for="imageUrl">Add image to support your idea</label>
        <input class="form-control" type="text" id="imageUrl" formControlName="imageUrl" placeholder="Enter image URL">
        <ng-container *ngIf="form?.controls?.imageUrl as control">
          <ng-container *ngIf="control.invalid && (control.dirty || submitted)">
            <p class="text text-danger" *ngIf="control.errors.required">An image is required</p>
            <p class="text text-danger" *ngIf="control.errors.invalidUrl">The URL does not look right</p>
          </ng-container>
          <ng-container></ng-container>
        </ng-container>
      </div>

      <div class="image-preview" *ngIf="form.controls.imageUrl as control">
        <img class="img-fluid" alt=""
             *ngIf="control.value && control.valid"
             [src]="form.value.imageUrl">
        <div class="invalid-container"
             *ngIf="!control.value || !control.valid">
          <div class="invalid-icon">
            <img src="/assets/images/ico-image.svg" alt="">
          </div>
          <p>Image preview</p>
        </div>
      </div>

      <div class="submit-wrapper">
        <button class="btn btn-primary" type="submit"
                [disabled]="saving">
          Submit Idea
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container" *ngIf="success">
  <div class="text-center">
    <h1>Thanks for your submission</h1>

    <p>Our team will take a look at your suggestion shortly. In the mean time, explore the other ideas on the dashboard</p>

    <p><a [routerLink]="" class="idea-link" (click)="goToIdea()">Take me there</a></p>

    <button class="btn btn-primary btn-large" routerLink="/">Back to home</button>
  </div>
</div>
