@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

@import "../../../../scss/variables";

:host {
  display: block;
  padding-bottom: 60px;

  @include media-breakpoint-up(md) {
    padding-bottom: 80px;
  }
}

.preserve-spacing {
  white-space: pre-line;
}

h2 {
  margin-top: 32px;
}

form {
  margin-top: 40px;

  .form-control + .text-danger {
    margin: 4px 0 0 0;
  }
}

.back-container {
  margin: 24px 0;

  a {
    color: $azure;
  }
}

.right {
  display: flex;
  flex-direction: column;

  .image-preview {

    .invalid-container {
      display: flex;
      justify-content: center;
      align-items: center;
      text-align: center;
      flex-direction: column;
      padding: 64px 40px;
      border: dashed 1px $light-periwinkle;
      border-radius: 8px;
      margin-bottom: 32px;

      .invalid-icon {
        width: 60px;
        height: 60px;
        padding: 14px;
        background-color: $lightbackdrop;
        border-radius: 50%;
        margin-bottom: 16px;

        img {
          height: 32px;
          width: 32px;
        }

        p {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }

  .submit-wrapper {
    margin-top: auto;
    text-align: right;
  }
}
