@import "variables";

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;600;700;900&display=swap');

html, body {
  font-family: 'Lato', sans-serif;
  color: $default-text;
  font-size: 16px;
  line-height: 22px;
}

h1 {
  font-size: 40px;
  line-height: 48px;
  font-weight: 900;
  margin: 0 0 16px;
}

h2 {
  font-size: 28px;
  line-height: 36px;
  font-weight: 900;
  margin: 0 0 16px;
}

h3 {
  font-size: 22px;
  line-height: 28px;
  font-weight: 900;
  margin: 0 0 16px;
}

h4 {
  font-size: 18px;
  line-height: 24px;
  font-weight: 600;
  margin: 0 0 16px;
}

a {
  color: $azure;
  font-weight: bold;
}
